.idea/
mysqldiff_run/
local_left.json
local_right.json
*.tar.gz
.DS_Store
mysqldiff
local_run
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
